body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.container {
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 90%;
    width: 700px;
    text-align: center;
}

.matching {
    display: flex;
    flex-direction: column;
}

.term-definition-pair {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.term-definition-pair label {
    margin-right: 10px;
}

.term-definition-pair select {
    width: 200px; /* Ajusta el ancho según sea necesario */
    padding: 5px; /* Opcional: agrega un poco de espacio interno */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px; /* Ajusta el tamaño de la fuente si es necesario */
}

h1 {
    color: #bb86fc;
}

select, button {
    background-color: #333;
    border: 1px solid #555;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    padding: 10px;
    margin-top: 10px;
    width: 100%; /* Hacer que los botones y select se adapten al ancho del contenedor */
}

button:hover {
    background-color: #444;
    cursor: pointer;
}

#subjectSelection {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.subjectBox {
    background-color: #292929;
    border: 2px solid #bb86fc;
    border-radius: 8px;
    padding: 30px;
    width: 250px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.subjectBox:hover {
    background-color: #333;
    transform: scale(1.05);
}

.subjectName {
    color: #bb86fc;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.subjectInfo {
    color: #999797;
    font-size: 0.9em;
}

#quizContainer {
    margin-top: 20px;
}

.question {
    margin: 20px 0;
    padding: 15px;
    background-color: #292929;
    border-radius: 5px;
    text-align: left;
    word-wrap: break-word;
}

label {
    display: block;
    margin: 5px 0;
}

input[type="radio"] {
    margin-right: 10px;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

#progressBarContainer {
    margin-top: 20px;
    background-color: #333;
    border-radius: 5px;
    height: 20px;
    width: 100%;
}

#progressBar {
    background-color: #bb86fc;
    height: 100%;
    width: 0%;
}

#timer {
    margin-top: 20px;
    font-size: 1.2em;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;
    }
    
    button {
        font-size: 0.9em;
        padding: 8px;
    }

    h1 {
        font-size: 1.5em;
    }

    label {
        font-size: 1em;
    }

    #timer {
        font-size: 1em;
    }
}
